@font-face {
    font-family: 'MVTM Pro Demo 1';
    src: url('MVTMProDemo1Regular.woff2') format('woff2'),
        url('MVTMProDemo1Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

